*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.contanier{
    width: 100%;
    height: 100vh;
    background: url(img/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.contanier .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    font-weight: bold;
}
.hero nav .logo{
    padding-top: -10px;
    height: 60px;
    width: 60px;
}
.hero nav .nav-links a {
    color: #242424;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}
.hero nav .nav-links a:hover{
    color: #ffffff;
}
.hero .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
.hero .content .div-text{
    width: 40%;
}
.hero .content .div-text h1{
    margin-bottom: 20px;
    font-size: 30px;
    color: #464242;
}
.hero .content .div-text h4{
    color: #801f82;
    font-size: 24px;
    margin-bottom: 10px;
}
.hero .content .div-text p{
    color: #555252;
    margin-bottom: 50px;
    font-size: 22px;
}
.hero .content .div-text .btn{
    padding: 15px 20px;
    background-color: #801f82;
    border: 2px solid #801f82;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.hero .content .div-text .btn:hover{
    color: #801f82;
    transition: 0.3s;
    background-color: transparent;
}

.hero .content .div-img{
    width: 40%;
}
.hero .content .div-img img{
    padding-top: 20pxL;
    width: 100%;
}
